@model MVC5Course.Models.客戶聯絡人

@section breadcrumb{
    <li>
        <i class="icon-angle-right"></i>
        @Html.ActionLink("客戶聯絡人", "Index", "客戶聯絡人")
    </li>
}

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>客戶聯絡人</h4>
    <hr />
    @Html.DisplayForModel()
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
